
<ul style="display: none">
    <li>Flyers -> 793x1121px [594.75, 840.75]</li> 
    <li>Routers -> 1578x2500px [1183.5, 1875]</li>
    <li>Rollup -> 1062x2500px [796.5, 1875]</li>
</ul>


{% if entity.support == 'flyers'  %}
    {% set size = 'width: 793px; height: 1121px;' %}
    {% set bgsize = ' background-size: 793px 1121px; ' %}
{% elseif entity.support == 'routers'  %}
     {% set size = 'width:1578px; height: 2500px; ' %}
     {% set bgsize = ' background-size: 1578px 2500px; ' %}
{% elseif entity.support == 'roll-up'  %}
     {% set size = 'width: 1062px; height: 2500px; ' %}
     {% set bgsize = ' background-size: 1062px 2500px; ' %}
{% endif %}




<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="pull-left header"><i class="fa fa-th"></i> Diseña tu creatividad </li>
        <li class="active"><a id="cara" href="#tab_1" data-toggle="tab">Cara</a></li>
        <li><a href="#tab_2" id="preview-tab2" {% if  entity.support == 'flyers'%}data-toggle="tab"{% endif %} >Contracara</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="cara-editor" href="#tab_1-1" data-toggle="tab">Editor</a></li>
                    <li><a id="cara-preview" href="#tab_2-1" data-toggle="tab">Prevista </a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1-1" style="text-align: right">
                        <i>* Doble click para editar un contenido</i>
                        
                        <div id="parent-container" class="parent-containers" > 
                            <div id="parent" class="parent" style="{{size}}background: #FFFFFF url('/uploads/templates/{{ entity.backgroundImage }}'); position:relative;display:inline-block; {{bgsize}}">
                                {{ entity.frontPageHtml | raw }}
                            </div>
                        </div>
                            
                        <button class="pull-left btn btn-primary btn-flat" type="button" onclick="newEditor('parent')">Crear nuevo contenido</button>
                        <br>
                        <img class="pull-right" style="position: absolute;left: 20px;top: 155px;" src="{{entity.previewImage}}" width="200">
                        
                        
                    </div>
                    <div class="tab-pane" id="tab_2-1" style="text-align: right">
                        <button class="pull-left btn btn-primary btn-flat" id="download">Descargar PDF de la prevista</button>
                        <div id="preview">Cargando prevista ...</div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
              <!-- /.tab-content -->
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="contra-tab1-content" href="#tab_3-1" data-toggle="tab">Editor</a></li>
                    <li><a id="contracara-preview"  href="#tab_4-1" data-toggle="tab">Prevista</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_3-1"  style="text-align: right">
                        <i>* Doble click para editar un contenido</i>
                        <div id="parent2-container" class="parent-containers"> 
                            <div id="parent2" class="parent" style="{{size}}background: #FFFFFF url('/uploads/templates/{{ entity.backgroundImage2 }}'); position:relative;display:inline-block; {{bgsize}}">
                                {{ entity.backPageHtml | raw }}
                            </div>
                        </div>
                            
                        <button class="pull-left btn btn-primary btn-flat" type="button" onclick="newEditor('parent2')">Crear nuevo contenido</button>
                        <br>
                        <img class="pull-right" style="position: absolute;left: 20px;top: 155px;" src="{{entity.previewImage2}}" width="200">
                        
                    </div>
                    <div class="tab-pane" id="tab_4-1" style="text-align: right">
                        <button class="pull-left btn btn-primary btn-flat" id="download2">Descargar PDF de la prevista</button>
                        <div id="preview2">Cargando prevista ...</div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
              <!-- /.tab-content -->
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
  <!-- /.tab-content -->
</div>