{% extends "BackendBundle::layout_editor.html.twig" %}
{% if form is not null %}{% form_theme form 'EditorBundle:Form:fields.html.twig' %}{% endif %}
{% set active_side_bar = 'templates' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css'
    'bundles/app/css/jquery.ui.rotatable.css'
    'bundles/editor/css/editor.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block content_header %}{% endblock %}
{% block content %}

    <section class="content-header">
      <h1>
        {{ 'template.editor' | trans }}  
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"> <i class="ion-home"></i>  {{ 'marketing' | trans }}</a></li>
        <li><a href="{{ path('editor_editor_index') }}">{{ 'templates' | trans }}</a></li>
        <li><a href="{{ path('editor_editor_newuser') }}">{{ 'template.editor' | trans }}</a></li>
      </ol>
    </section>
      
    <section class="content">
      <div class="row">
        <div class="col-md-3">
            <div class="box box-warning direct-chat direct-chat-warning">
              <div class="box-header with-border">
                <form action="#" method="post">
                  <div class="input-group">
                    <input type="text" name="message" placeholder="Buscar por nombre" class="form-control" id="search">
                    <input type="hidden" name="referer" value="{{app.request.getRequestUri|url_encode}}" id="referer">
                    <input type="hidden" name="type" value="nouser" id="type">
                    
                    <input type="hidden" name="support" value="{{ app.request.query.get('support') }}" id="support">
                    <input type="hidden" name="category" value="{{ app.request.query.get('category') }}" id="category">
                    <input type="hidden" name="subcategory" value="{{ app.request.query.get('subcategory') }}" id="subcategory">
                    
                    <span class="input-group-btn">
                        <button id="search_submit" type="button" class="btn btn-warning btn-flat">Buscar</button>
                    </span>
                  </div>
                </form>
              </div>
              <div class="box-body">
                  <div class="container-items">
                    {% for entity in selectedEntities %}
                        <li class="items-editor">
                            <a href="{{ path('editor_editor_clone', {'id': entity.id })}}?referer={{app.request.getRequestUri|url_encode}}">{{ entity.name }}<br><img src="{{ entity.previewImage }}" width="100%"></a>
                        </li>
                    {% endfor %}
                  </div>

              </div>
            </div>
          </div>
          <div class="col-md-9">
            <div class="box box-info">
                <div id="container-editor">
                    {% if form is not null %}
                        {{ include('EditorBundle:Editor/Block:editor.html.twig', { form: form, entity: entity, history: false} ) }}
                    {% else %}
                        <p style="padding: 10px;">Selecciona un diseño paera poder visualizarlo</p>
                    {% endif %}
                </div> 
            </div>
          </div>

      </div>
    </section>
{% endblock %}

{% block javascripts  %}
    {{  parent() }}

    {% javascripts 
        'https://code.jquery.com/ui/1.12.1/jquery-ui.js'
        'bundles/editor/plugins/ckeditor-4.5/ckeditor-custom.js'
        'bundles/editor/plugins/ckeditor-4.5/adapters/old.adapter.jquery.js'
        'https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js'
        'bundles/app/js/html2canvas.js'
        'bundles/app/js/jquery.ui.rotatable.js'
         %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if form is not null %}                
    {{ include('EditorBundle:Editor/Block:editor.js.twig', { form: form, entity: entity} ) }}
    {% endif %}
{% endblock %}
