{% extends "BackendBundle::backend_base.html.twig" %}

{% block body %}
    <div class="wrapper" style="background: #f1f8fd;">
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="margin: 0 auto;max-width: 80%;border:none;">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="text-info">
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-3">
                            <img src="{{ asset('bundles/backend/img/logo.png') }}" class="img-responsive center">
                        </div>
                    </div>
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">
                {% block content %}
                    {% form_theme form "BackendBundle::bootstrap_3_layout.html.twig" %}
                    <div class="box box-primary">
                        <div class="box-body">
                            {% block create_body %}
                                {{ form_start(form) }}
                                {% if entity.logo is not null %}
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <img class="logo-image-preview img-responsive" src="{{ image_path ~ '/' ~ entity.logo }}">
                                        </div>
                                    </div>
                                {% endif %}
                                {{ form_row(form.logoFile, {'label': false}) }}
                                {{ form_row(form.plan) }}
                                {{ form_row(form.tradeName) }}
                                {{ form_row(form.tagLine) }}
                                {{ form_row(form.shortDescription) }}
                                {{ form_row(form.description) }}
                                {{ form_row(form.technology) }}
                                {{ form_row(form.societyName) }}
                                {{ form_row(form.socialNumber) }}
                                {{ form_row(form.nif) }}
                                {% if form.children.password is defined %}
                                    {{ form_row(form.password) }}
                                {% endif %}
                                {# Start #}
                                {{ form_label(form.fileDocs) }}
                                <div class="form-group">
                                    <ul class="filedocs" id="filedoc-fields-list" data-prototype="{{ form_widget(form.fileDocs.vars.prototype)|e }}">
                                        {% for fileField in form.fileDocs %}
                                            <li class="wrapper-field">
                                                {% if entity.fileDocs is not null %}
                                                    <div class="row">
                                                        <div class="col-xs-4">
                                                            <img class="file-doc-image-preview img-responsive" src="{{ image_path ~ '/' ~ get_filedoc_by_client(entity, loop.index - 1) }}">
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {{ form_errors(fileField) }}
                                                {{ form_widget(fileField) }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="#" id="add-another-filedoc">{{ 'client.form.file_doc_add_file_doc'|trans() }}</a>
                                </div>
                                {# END #}
                                {# Start #}
                                {{ form_row(form.billingAddress) }}
                                {% if entity.localAddress is null %}
                                    <div class="checkbox">
                                        <label><input class="checkbox-show-local-address" id="is-local-address" type="checkbox" value=""> {{ 'client.form.local_address_checkbox'|trans() }}</label>
                                    </div>
                                    <div id="local-address-wrapper" class="hide">
                                        {{ form_row(form.localAddress) }}
                                    </div>
                                {% else %}
                                    {{ form_row(form.localAddress) }}
                                {% endif %}
                                {{ form_row(form.urlWeb) }}
                                {{ form_row(form.facebook) }}
                                {{ form_row(form.instagram) }}
                                {{ form_row(form.blog) }}
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        {{ form_row(form.submit, {'attr': {'class': 'btn btn-primary btn-lg'}}) }}
                                    </div>
                                </div>
                                <div class="hide">
                                    {{ form_rest(form) }}
                                </div>
                                {{ form_end(form) }}
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var fileDocCount = '{{ form.fileDocs|length }}';

        jQuery(document).ready(function() {
            jQuery('#add-another-filedoc').click(function(e) {
                e.preventDefault();
                var objectList = jQuery('#filedoc-fields-list');
                var newWidget = objectList.attr('data-prototype');
                newWidget = newWidget.replace(/__name__/g, fileDocCount);
                fileDocCount++;

                var newLi = jQuery('<li></li>').html(newWidget);
                var removeButton = jQuery('<button></button>').attr('type', 'button').addClass('close').html('&times;');
                removeButton.appendTo(newLi);
                newLi.appendTo(objectList);
            });
        });
        //Remove Button
        jQuery(document).on('click', '.close', function(){
            $(this).closest('li').fadeOut(500, function() {
                $(this).remove();
                fileDocCount--;
            });
        });
        //Ajax Country
        $(document).on('change', '.country_selector', function(){
            var $this = $(this);
            var $typeCollection = $this.attr('id').split("_");
            var $type = $typeCollection[2] || 'billingAddress';
            var data = {
                country_id: $this.val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_provinces") }}',
                data: data,
                success: function(data) {
                    var $province_selector = $('#appbundle_client_' + $type + '_province');

                    $province_selector.html("<option value='-1'>{{ 'province.form.empty_value'|trans() }}</option>");

                    for (var i=0, total = data.length; i < total; i++) {
                        $province_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }

                    var $city_selector = $('#appbundle_client_' + $type + '_city');
                    $city_selector.html("<option value='-1'>{{ 'city.form.empty_value'|trans() }}</option>");
                }
            });
        });

        // Ajax Province
        $(document).on('change', '.province_selector', function(){
            var $this = $(this);
            var $typeCollection = $this.attr('id').split("_");
            var $type = $typeCollection[2] || 'billingAddress';
            var data = {
                province_id: $this.val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_cities") }}',
                data: data,
                success: function(data) {
                    var $city_selector = $('#appbundle_client_' + $type + '_city');

                    $city_selector.html("<option value='-1'>{{ 'city.form.empty_value'|trans() }}</option>");

                    for (var i=0, total = data.length; i < total; i++) {
                        $city_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                }
            });
        });

        //Show local address
        $(document).on('ifChanged', '#is-local-address', function(event) {
            var $this = $(this);
            var $local_address_wrapper = $('#local-address-wrapper');
            if($this.is(':checked')){
                $local_address_wrapper.fadeOut(500, function() {
                    var $this = $(this);
                    $this.toggleClass('hide');
                });
            }else{
                $local_address_wrapper.fadeIn(500, function() {
                    var $this = $(this);
                    $this.toggleClass('hide');
                });
            }
        });
    </script>
{% endblock %}

{% block page_title %}{{ 'registration.create.title'|trans() }}{% endblock %}
{% block page_subtitle %}{{ 'registration.create.subtitle'|trans() }}{% endblock %}