{% extends "BackendBundle:CRUD:list.html.twig" %}

{% block page_title %}{{ 'client.list.title'|trans() }}{% endblock %}
{% block page_subtitle %}{{ 'client.list.subtitle'|trans() }}{% endblock %}
{% if is_granted("ROLE_ADMIN") %}
    {% block create_new_path path('admin_client_create') %}
    {% block create_new_title 'client.create_new'|trans %}
{% endif %}
{% block list_title 'client.list'|trans%}

{% block list_body %}
    <table id="datatable" class="table table-bordered table-hover dataTable">
        <thead>
        {% block thead %}
            <tr>
                <th>{{ '#' }}</th>
                <th>{{ 'app.list.table.created'|trans|title }}</th>
                <th>{{ 'app.list.table.username'|trans|title }}</th>
                <th>{{ 'app.list.table.active'|trans|title }}</th>
                <th>{{ 'app.edit'|trans|title }}</th>
                <th>{{ 'app.delete'|trans|title }}</th>
            </tr>
        {% endblock %}
        </thead>
        <tfoot>
        {{ block('thead') }}
        </tfoot>
        <tbody>
        {% for entity in clientCollection %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.createdAt|date('d/m/Y') }}</td>
                <td>{{ entity.username }}</td>
                <td><i class="fa fa-circle" style="color: {{ (entity.active) ? 'green' : 'red' }}"></i></td>
                <td><a class="btn btn-success" href="{{ path('admin_client_edit',{'id':entity.id}) }}">{{ 'app.edit'|trans|title }}</a></td>
                <td>
                    {% form_theme deleteFormCollection[entity.id] "BackendBundle:CRUD:delete.html.twig" %}
                    {{ form(deleteFormCollection[entity.id]) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}