{% extends "BackendBundle:CRUD:list.html.twig" %}

{% block page_title %}{{ 'client.list.title'|trans() }}{% endblock %}
{% block page_subtitle %}{{ 'client.list.subtitle'|trans() }}{% endblock %}
{% if is_granted("ROLE_ADMIN") %}
    {% block create_new_path path('admin_client_create') %}
    {% block create_new_title 'client.create_new'|trans %}
{% endif %}
{% block list_title 'client.list'|trans%}

{% block list_body %}
    
    <table class="table table-striped table-bordered table-hover" id="clients-table">
        <thead>
            <tr>             
                <th>Código</th>
                <th>Fecha alta</th>
                <th>Titular</th> 
                <th>Nombre comercial</th> 
                <th>Nif</th> 
                <th>{{ 'app.list.table.active'|trans|title }}</th> 
                <th style="width: 200px"></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts 
            'bundles/editor/js/table-managed.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        
        function activate(id, path){
            $.ajax({
                url: path,
                method: "POST",
                data: { id: id }
            }).done(function(response) {
                if(response.active){
                    $('#'+response.id).removeClass('fa-circle-o');
                    $('#'+response.id).addClass('fa-check-circle-o');
                    $('#'+response.id).css('color', '#00a65a');
                }else{
                    $('#'+response.id).removeClass('fa-check-circle-o');
                    $('#'+response.id).addClass('fa-circle-o');
                    $('#'+response.id).css('color', '#dd4b39');
                }
            });
        }

        var table_columns = [
            {"mData": "code"},
            {
                "mData": function (source) {
                    return source.created2;
                }
            },
            {
                "mData": function (source) {
                    return source.username;
                }
            },
            {"mData": "tradeName"},
            {"mData": "nif"},
            {        
               "mData": function(source) {
                    var code = '';
                    if (true == source.active) {
                        code = '<i id="' + source.id + '" onclick="activate(' + source.id + ', \'/admin/client/' + source.id + '/enable\')" style="font-size:25px;cursor:pointer;color:#00a65a" class="disable fa fa-check-circle-o" aria-hidden="true"></i>';
                    } else {
                        code = '<i id="' + source.id + '" onclick="activate(' + source.id + ', \'/admin/client/' + source.id + '/enable\')" style="font-size:25px;cursor:pointer;color:#dd4b39" class="enable fa fa-circle-o" aria-hidden="true"></i>';
                    }
                    return code;
                }
            },   
            {
                "mData": function (source) {

                    var html = '<a href="' + source.id + '/edit" class="btn btn-primary btn-xs btn-flat ">  {{ 'edit' | trans }}</a>\n\
                                <a href="' + source.id + '/delete" class="btn btn-danger btn-xs btn-flat " onClick="if(confirm(\'¿Estas seguro de eliminar este cliente?\')) return true;else return false;">  {{ 'delete' | trans }}</a> ';
                    return html;
                }
            }
        ];

        jQuery(document).ready(function () {
            TableManaged.init(
                '#clients-table',
                '{{ url('admin_client_listjson') }}',
                [],
                table_columns,
                '{{ url('editor_editor_getdatatablesi18n', { language: app.request.locale }) }}',
                function () {
                    //callback
                }
            );
        });

    </script>
{% endblock %}