{% extends "BackendBundle:CRUD:create.html.twig" %}

{% block create_body %}
     {{ form_start(form) }}
     {{ form_row(form.title) }}
     {{ form_row(form.urlVideo) }}
     {{ form_row(form.fileVich, {'label': 'multimedia.form.file'|trans()}) }}
     {% if form.vars.errors is not null %}
         {% for error in form.vars.errors %}
             {% if error.messageTemplate == 'multimedia.file' %}
                 <span class="alert-danger">
                     {{ error.message }}
                 </span>
             {% endif %}
         {% endfor %}
     {% endif %}
     {% if entity.file is not null %}
         <div class="row">
             <div class="col-xs-4">
                 <a href="{{ files_path ~ '/' ~ entity.file }}" target="_blank" class="logo-image-preview img-responsive">{{ entity.file }}</a>
             </div>
         </div>
     {% endif %}
     {{ form_row(form.imageVich, {'label': 'multimedia.form.image'|trans()}) }}
     {% if entity.image is not null %}
         <div class="row">
             <div class="col-xs-4">
                 <img class="logo-image-preview img-responsive" src="{{ image_path ~ '/' ~ entity.image }}">
             </div>
         </div>
     {% endif %}
     {{ form_row(form.category) }}
     <div style="display: none">
        {{ form_row(form.submit) }}
     </div>
     <div class="form-group">
         <a href="#" id="submit_button" class="btn btn-success btn">Crear</a>
     </div>
     
     <div class="hide">
         {{ form_rest(form) }}
     </div>
     {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function validateYouTubeUrl()
        {
            var url = $('#appbundle_multimedia_urlVideo').val();
            if (url != undefined || url != '') {
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=|\?v=)([^#\&\?]*).*/;
                var match = url.match(regExp);
                if (match && match[2].length == 11) {
                    // Do anything for being valid
                    // if need to change the url to embed url then use below line
                    //$('#ytplayerSide').attr('src', 'https://www.youtube.com/embed/' + match[2] + '?autoplay=0');
                    return true;
                }
                else {
                    //alert('Por favor seleccione una url de youtube valida.');
                    $('#appbundle_multimedia_urlVideo').parent().addClass('has-error');
                    $('#appbundle_multimedia_urlVideo').parent().find('.help-block').remove();
                    var html ='<span class="help-block">    <ul class="list-unstyled"><li><span class="glyphicon glyphicon-exclamation-sign"></span> Url debe ser de youtube</li></ul></span>';
                    $('#appbundle_multimedia_urlVideo').parent().append(html);
                    return false;
                }
            }
        }
        
        $(document).ready(function(){
            $('#submit_button').click(function(e){
                e.preventDefault();
                if($('#appbundle_multimedia_urlVideo').val() != ''){
                    if(validateYouTubeUrl()) $('#appbundle_multimedia_submit').click();
                }else{
                    $('#appbundle_multimedia_submit').click();
                }
            });
            
            {% if (edit is defined and edit) %}
                    $('#appbundle_multimedia_imageVich_file').removeAttr('required');
            {% endif %}
          
        });
        
    </script>
{% endblock %}