{% extends "AppBundle::index.html.twig" %}

{% block content %}
    {% set items = get_slider_items() %}
    {% if items | length > 0 %}
        {{ include ('AppBundle:Slider:carousel.html.twig')}}
    {% endif %}
    
    {% set images = get_home_images() %}
    {% if images | length > 0 %}
    <div class="home-images">
        {% if images.url != '' %}<a href="{{ images.url}}" target="_blank">{% endif %}
            <img src="{{ images.image.path }}">
        {% if images.url != '' %}</a>{% endif %}
        {% if images.url2 != '' %}<a href="{{ images.url2}}" target="_blank">{% endif %}
            <img src="{{ images.image2.path }}">
        {% if images.url2 != '' %}</a>{% endif %}
        {% if images.url3 != '' %}<a href="{{ images.url3}}" target="_blank">{% endif %}
            <img src="{{ images.image3.path }}">
        {% if images.url3 != '' %}</a>{% endif %}
    </div>
    {% endif %}

{% endblock %}


{% block javascripts  %}
   {{  parent() }}
   
   <script type="text/javascript">
        $('.carousel').carousel()
   </script>

{% endblock %}