{% extends "BackendBundle:CRUD:create.html.twig" %}

{% block create_body %}
     {{ form_start(form) }}
     {% set speciality_error = false %}
     {% set speciality_detail_error = false %}
     {% set language_error = false %}
     {% set course_error = false %}
     {% set default_form_class = 'form-group' %}
     {% set error_form_class = 'form-group has-error' %}
     {% for error in form.vars.errors %}
         {% if error.cause == 'parentSpeciality' %}
             {% set speciality_error = error.message %}
         {% endif %}
         {% if error.cause == 'speciality' %}
             {% set speciality_detail_error = error.message %}
         {% endif %}
         {% if error.cause == 'language' %}
             {% set language_error = error.message %}
         {% endif %}
         {% if error.cause == 'course' %}
             {% set course_error = error.message %}
         {% endif %}
     {% endfor %}
     
    <h3 class="box-title">{{ 'app.personal_data' | trans }}</h3>
    {{ form_row(form.name) }}
    {{ form_row(form.firstLastname) }}
    {{ form_row(form.secondLastname) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.mobile) }}
    {{ form_row(form.email) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.placeResidence) }}
    <h4 class="box-title">{{ 'app.interest' | trans }}</h4>
    {{ form_row(form.certificateDisability) }}
    {{ form_row(form.vehicle) }}
    {{ form_row(form.travelAvailability) }}
    <h3 class="box-title">{{ 'app.study' | trans }}</h3>
    {{ form_row(form.studies) }}

    {% if speciality_error == true or speciality_detail_error == true %}
        {{ form_row(form.parentSpeciality, {'attr': {'class': error_form_class }}) }}
        {% if speciality_error != false %}
            <div class="form-group has-error">
                <div class="help-block">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ speciality_error }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
        {% if speciality_detail_error != false %}
            <div class="form-group has-error">
                <div class="help-block">
                    <ul class="list-unstyled">
                        <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ speciality_detail_error }}</li>
                    </ul>
                </div>
            </div>
        {% endif %}
    {% else %}
        {{ form_row(form.parentSpeciality, {'attr': {'class': default_form_class }}) }}
    {% endif %}
	
    {% set parentSpecialityCollection = get_parent_speciality_collection() %}
    {% for parent in parentSpecialityCollection  %}
           {% set _row = 'speciality_' ~ parent %}
           {% if form[_row] is not null %}
               {{ form_widget(form[_row]) }}
           {% endif %}
    {% endfor %}
	
    {% if course_error != false %}
        {{ form_row(form.course, {'attr': {'class': error_form_class }}) }}
        <div class="form-group has-error">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ course_error }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        {{ form_row(form.course, {'attr': {'class': default_form_class }}) }}
    {% endif %}
    {{ form_row(form.academicStudies) }}
    
    {{ form_row(form.salesTraining) }}
    
    {% if language_error != false %}
        {{ form_row(form.language, {'attr': {'class': error_form_class }}) }}
        <div class="form-group has-error">
            <div class="help-block">
                <ul class="list-unstyled">
                    <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ language_error }}</li>
                </ul>
            </div>
        </div>
    {% else %}
        {{ form_row(form.language, {'attr': {'class': default_form_class }}) }}
    {% endif %}
    
    
    {{ form_row(form.experience) }}
    {{ form_row(form.experiencePlaces) }}
	<h3 class="box-title">{{ 'app.preferences' | trans }}</h3>
    {{ form_row(form.contractTypes) }}
    {{ form_row(form.timesAvailability) }}
    {{ form_row(form.levelsResponsibility) }}

    <div class="form-group" style="height: 50px">
        <span class="control-label required"><b>{{ 'registration.form.image.name' | trans }}</b></span>
        <br>
        {{ form_widget(form.cvFile, {attr: {'style':'height: 36px;'} } ) }}
        <label for="appbundle_registration_cvFile" class="btn btn-primary upload-cv" >{{ 'app.upload-cv' | trans }}</label>
    </div>
    
    {% set required_image = 'required' %}
     {% if entity.cvPath is not null %}
        {% set required_image = false %}
        <div class="row">
            <div class="col-xs-4">
                <a target="_blank" class="logo-image-preview img-responsive" href="{{ registration_path ~ '/' ~ entity.cvPath }}">{{ entity.cvPath }}</a>
            </div>
        </div>
     {% endif %}
    {% if entity.photoPath is not null %}
        <div class="row">
            <div class="col-xs-4">
                <img class="logo-image-preview img-responsive" src="{{ registration_path ~ '/' ~ entity.photoPath }}">
            </div>
        </div>
    {% endif %}
    {{ form_row(form.photoFile) }}
     
     
     
     
     {{ form_row(form.submit) }}
     <div class="hide">
         {{ form_rest(form) }}
     </div>
     {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>
    <script type="application/javascript">
        $('.datepicker').datepicker({
            'language': 'es',
            'format': 'yyyy-mm-dd',
            'autoclose': true
        });
    </script>
    <script type="text/javascript">
        var hide_detail_fields = function() {
            var $field_detail = $('.field-detail');
            $field_detail.css({
                'display': 'none'
            })
        };

        hide_detail_fields();

        var handle_detail_fields = function(event, type) {
            var display = (type === 'checked') ? 'block' : 'none';
            var $target = $(event.target);
            var $id = $target.attr('id');
            var $targetDetail = $id.concat('_detail');
            setTimeout(function() {
                $('#' + $targetDetail).fadeOut(500, function() {
                    var $this = $(this);
                    $this.css({
                        'display': display
                    });
                });
            }, 500);
        }
        //Speciality
        $(document).on('ifChecked', '.speciality_children', function(event) {
            handle_detail_fields(event, 'checked');
        });
        $(document).on('ifUnchecked', '.speciality_children', function(event) {
            handle_detail_fields(event, 'unchecked');
        });

        //Language
        $(document).on('ifChecked', '#appbundle_registration_language', function(event) {
            handle_detail_fields(event, 'checked');
        });
        $(document).on('ifUnchecked', '#appbundle_registration_language', function(event) {
            handle_detail_fields(event, 'unchecked');
        });

        //Course
        $(document).on('ifChecked', '#appbundle_registration_course', function(event) {
            handle_detail_fields(event, 'checked');
        });
        $(document).on('ifUnchecked', '#appbundle_registration_course', function(event) {
            handle_detail_fields(event, 'unchecked');
        });

        //ParentSpeciality
        $(document).on('ifChecked', '#appbundle_registration_parentSpeciality', function(event) {
            var $this = $(this);
            var $target = $(event.target);
            var $id = $target.val();
            var data = {
                parent_speciality_id: $id
            };
            setTimeout(function() {
                $('.speciality_children').fadeOut(500, function() {
                    var $this = $(this);
                    $this.removeClass('hide');
                    $this.css({
                        'display': 'none'
                    });
                });
            }, 500);
            $.ajax({
                type: 'post',
                url: '{{ path("select_parent_specialities") }}',
                data: data,
                success: function(data) {
                    var $speciality_selector = $('#appbundle_registration_speciality_' + data[0].name);
                    setTimeout(function() {
                        $speciality_selector.fadeOut(500, function() {
                            var $this = $(this);
                            $this.css({
                                'display': 'block'
                            });
                        });
                    }, 500);

                }
            });
        });

        //Ajax Country
        $(document).on('change', '.country_selector', function(){
            var $this = $(this);
            var data = {
                country_id: $this.val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_provinces") }}',
                data: data,
                success: function(data) {
                    var $province_selector = $('#appbundle_registration_placeResidence_province');

                    $province_selector.html("<option>{{ 'province.form.empty_value'|trans() }}</option>");

                    for (var i=0, total = data.length; i < total; i++) {
                        $province_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }

                    var $city_selector = $('#appbundle_registration_placeResidence_city');
                    $city_selector.html("<option>{{ 'city.form.empty_value'|trans() }}</option>");
                }
            });
        });

        // Ajax Province
        $(document).on('change', '.province_selector', function(){
            var $this = $(this);
            var data = {
                province_id: $this.val()
            };

            $.ajax({
                type: 'post',
                url: '{{ path("select_cities") }}',
                data: data,
                success: function(data) {
                    var $city_selector = $('#appbundle_registration_placeResidence_city');

                    $city_selector.html("<option>{{ 'city.form.empty_value'|trans() }}</option>");

                    for (var i=0, total = data.length; i < total; i++) {
                        $city_selector.append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                    }
                }
            });
        });
    </script>
{% endblock %}