<section class="sidebar">
    <div class="user-panel">
        <div class="pull-left">
            <img class="img-circle" src="{{ asset('bundles/backend/img/avatar_default_wo_bg.png') }}">
            {# {% if app.user.image %}
                 <img class="img-circle" src="{{ asset(getAvatar(app.user.email)) }}">
                 {% else %}
                     <img class="img-circle" src="{{ asset('bundles/app/img/avatar_default.png') }}">
                 {% endif %}#}
        </div>
        <div class="pull-left info">
            <p>{{ app.user.username }}</p>
            <a href="{{ path('logout') }}"><i class="fa fa-circle text-success"></i>{{ 'backend.online'|trans }}</a>
        </div>
    </div>
    <ul data-active-menu="true" class="sidebar-menu" data-active="{{ active }}">
        <li class="header"></li>
        {% if is_granted("ROLE_ADMIN") %}
            <li id="ticket" class="treeview">
                <a href="{{ ticket_link }}" target="_blank"><i class="fa fa-external-link"></i> <span>{{ 'app.sidebar.ticket.title_nav'|trans|title }}</span>
                </a>
            </li>
            <li id="flowwwer" class="treeview">
                <a href="{{ flowww_link }}" target="_blank"><i class="fa fa-external-link"></i> <span>{{ 'app.sidebar.flowwwer.title_nav'|trans|title }}</span>
                </a>
            </li>
            <li id="video" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.video.title_nav'|trans|title }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="video-link" href="{{ ticket_link }}" target="_blank"><i class="fa fa-external-link"></i> <span>{{ 'app.sidebar.video.title_nav'|trans|title }}</span>
                        </a>
                        <a id="video-list" href="{{ path('admin_multimedia_list') }}"><i
                                    class="fa fa-circle-o"></i>{{ 'app.sidebar.video.list'|trans|title }}
                        </a>
                    </li>
                </ul>
            </li>
            <li id="client" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.client.title_nav'|trans|title }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="client-create" href="{{ path('admin_client_list') }}"><i class="fa fa-user"></i> <span>{{ 'app.sidebar.client.list'|trans|title }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="academic" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.academic.title_nav'|trans|title }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="academic-create" href="{{ path('admin_academic_list') }}"><i class="fa fa-study"></i> <span>{{ 'app.sidebar.academic.list'|trans|title }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="registration" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.registration.title_nav'|trans|title }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="academic-create" href="{{ path('admin_registration_list') }}"><i class="fa fa-study"></i> <span>{{ 'app.sidebar.registration.list'|trans|title }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="creativity" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.creativity.title_nav'|trans|title }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="press-release-create" href="{{ path('admin_creativity_list') }}"><i class="fa fa-study"></i> <span>{{ 'app.sidebar.creativity.list'|trans|title }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% elseif is_granted("ROLE_CLIENT") %}
            <li id="ticket" class="treeview">
                <a href="{{ ticket_link }}" target="_blank"><i class="fa fa-external-link"></i> <span>{{ 'app.sidebar.ticket.title_nav'|trans|title }}</span>
                </a>
            </li>
            <li id="flowwwer" class="treeview">
                <a href="{{ flowww_link }}" target="_blank"><i class="fa fa-external-link"></i> <span>{{ 'app.sidebar.flowwwer.title_nav'|trans|title }}</span>
                </a>
            </li>
            <li id="video" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.video.title_nav'|trans|title }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="video-link" href="{{ ticket_link }}" target="_blank"><i class="fa fa-external-link"></i> <span>{{ 'app.sidebar.video.title_nav'|trans|title }}</span>
                        </a>
                        <a id="video-list" href="{{ path('admin_multimedia_list') }}"><i
                                    class="fa fa-circle-o"></i>{{ 'app.sidebar.video.list'|trans|title }}
                        </a>
                    </li>
                </ul>
            </li>
            <li id="registration" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.registration.title_nav'|trans|title }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="academic-create" href="{{ path('admin_registration_list') }}"><i class="fa fa-study"></i> <span>{{ 'app.sidebar.registration.list'|trans|title }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li id="press_release" class="treeview">
                <a href=""><i class="fa fa-bars"></i> <span>{{ 'app.sidebar.press_release.title_nav'|trans|title }}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li id="admin">
                        <a id="press-release-create" href="{{ path('admin_press_release_list') }}"><i class="fa fa-study"></i> <span>{{ 'app.sidebar.press_release.list'|trans|title }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
</section>
<script>
    $(function(){
        $('.sidebar-menu').activesidebar();
    });
</script>