{% extends '@Backend/CRUD/show.html.twig' %}

{% block create_title %}{{ 'press_release.show.title' | trans() }}{% endblock %}
{% block edit_buttons %}{% endblock %}
{% block delete_form %}{% endblock %}

{% block show_body %}
    <div class="form-group">
        <label class="">
            {{ 'press_release.form.title.name' | trans() }}
        </label>
        <input class="form-control" type="text" disabled="disabled" value="{{ entity.title }}">
    </div>
    <div class="form-group">
        <label class="">
            {{ 'press_release.form.publised.name' | trans() }}
        </label>
        <input class="form-control" type="text" disabled="disabled" value="{{ entity.published|date('d/m/Y') }}">
    </div>
    <div class="form-group">
        <label class="">
            {{ 'press_release.form.description.name' | trans() }}
        </label>
        <textarea class="form-control" disabled="disabled" rows="30">{{ entity.description|striptags }}</textarea>
    </div>
    <div class="form-group">
        <label class="">
            {{ 'press_release.form.document.name' | trans() }}
        </label>
        {% if entity.document is not null %}
            <div class="row">
                <div class="col-xs-4">
                    <a target="_blank" class="logo-doc-image-preview img-responsive" href="{{ document_path ~ '/' ~ entity.document }}">{{ entity.document }}</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}