{{ form_start(form, {
                    'action': path('editor_editor_edit', { 'id': entity.id  }), 
                    'method': 'post', 
                    'attr': {'class': 'form-horizontal form-row-seperated', 'id':'editor-form'}
                    }) }}
<div class="box-body" style="display: none" >
    {{ include ('EditorBundle:Editor:_form.html.twig', {form: form, editor: true} ) }}
</div>

{% if entity.support == 'flyers'  %}
    {% set size = 'width: 793px; height: 1121px;' %}
    {% set bgsize = ' background-size: 793px 1121px; ' %}
{% elseif entity.support == 'routers'  %}
     {% set size = 'width:1578px; height: 2500px; ' %}
     {% set bgsize = ' background-size: 1578px 2500px; ' %}
{% elseif entity.support == 'roll-up'  %}
     {% set size = 'width: 1062px; height: 2500px; ' %}
     {% set bgsize = ' background-size: 1062px 2500px; ' %}
{% elseif entity.support == 'instagram'  %}
     {% set size = 'width: 1080px; height: 1080px; ' %}
     {% set bgsize = ' background-size: 1080px 1080px;' %}
{% endif %}


<div class="tabbable tabs-below">
    
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="pull-right header">
                        <button type="button" id="submit" class="btn btn-primary btn-flat"><i class="icon-ok"></i>  {{ 'save' | trans }}</button>
                    </li>    
                    <li class="pull-right header">
                        <a href="{{ path('editor_editor_index') }}" class="btn btn-flat btn-default">{{ 'back' | trans }}</a>
                    </li>
                    <li class="active"><a id="cara-editor" href="#tab_1-1" data-toggle="tab">Editor</a></li>
                    <li><a id="cara-preview" href="#tab_2-1" data-toggle="tab">Prevista </a></li>
                </ul>
                <div class="tab-content">
                    <i>* Doble click para editar un contenido</i>
                    <div class="tab-pane active" id="tab_1-1" style="text-align: left">
                        

                        <div id="parent-container" class="parent-containers" style="width: 800px;background-color: #dadada"> 
                            <div id="parent" class="parent" style="{{size}}background: #FFFFFF url('/uploads/templates/{{ entity.backgroundImage }}'); position:relative;display:inline-block; {{bgsize}}">
                                {{ entity.frontPageHtml | raw }}
                            </div>
                        </div>
                            
                        <div style=" width: 150px;float: right;">
                           <button class="pull-right btn btn-primary btn-flat" type="button" onclick="newEditor('parent')">Crear contenido</button> 
                            <button class="pull-right btn btn-primary btn-flat" type="button" onclick="newEditorImage('parent')">Crear imagen</button>
                        </div>  
                        
                        

                    </div>
                    <div class="tab-pane" id="tab_2-1" style="text-align: left">
                        <div id="preview">Cargando prevista ...</div>
                        
                        <div style=" width: 150px;float: right;">
                            <button class="pull-left btn btn-primary btn-flat" id="download">Descargar PDF de la prevista</button>
                        </div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
              <!-- /.tab-content -->
            </div>
        </div>
        <div class="tab-pane" id="tab_2">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a id="contra-tab1-content" href="#tab_3-1" data-toggle="tab">Editor</a></li>
                    <li><a id="contracara-preview"  href="#tab_4-1" data-toggle="tab">Prevista</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_3-1"  style="text-align: right">
                        <i>* Doble click para editar un contenido</i>
                        <div id="parent2-container" class="parent-containers"> 
                            <div id="parent2" class="parent" style="{{size}}background: #FFFFFF url('/uploads/templates/{{ entity.backgroundImage2 }}'); position:relative;display:inline-block; {{bgsize}}">
                                {{ entity.backPageHtml | raw }}
                            </div>
                        </div>

                        <button class="pull-left btn btn-primary btn-flat" type="button" onclick="newEditor('parent2')">Crear nuevo contenido</button>
                        <button class="pull-left btn btn-primary btn-flat" type="button" onclick="newEditorImage('parent2')">Crear nueva imagen</button>
                         

                    </div>
                    <div class="tab-pane" id="tab_4-1" style="text-align: right">
                        <button class="pull-left btn btn-primary btn-flat" id="download2">Descargar PDF de la prevista</button>
                        <div id="preview2">Cargando prevista ...</div>
                    </div>
                    <!-- /.tab-pane -->
                </div>
              <!-- /.tab-content -->
            </div>
        </div>
        <!-- /.tab-pane -->
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a id="cara" href="#tab_1" data-toggle="tab">Cara</a></li>
        <li><a href="#tab_2" id="preview-tab2" {% if  entity.support == 'flyers'%}data-toggle="tab"{% endif %} >Contracara</a></li>
    </ul>
</div>
 

{{ form_end(form) }}